// import google font
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap');

// configs
$font-family: 'Titillium Web', sans-serif;

html, body { height: 100%; }
body {
  margin: 0;
  font-family: $font-family !important;
}

// global class
.border-radius-0 {
  border-radius: 0 !important;
}

.container.pt-4 {
  min-height: calc(93vh - 60px); // stick footer to bottom
}

// mixins
@mixin media-md {
  @media screen and (max-width: 768px) {
    @content;
  }
}
