// import google font
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap');

// configs
$font-family: 'Titillium Web', sans-serif;

html, body { height: 100%; }
body {
  margin: 0;
  font-family: $font-family !important;
}

.border-radius-0 {
  border-radius: 0;
}

.container.pt-4 {
  min-height: calc(93vh - 60px); // stick footer to bottom
}
